@import url(./reset.scss);

.hide {
    display: none;
}

.hide-filter {
    display: none;
}

.price-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-btn {
    background-color: white;
    color: dodgerblue;
    border: 1px solid lightgrey;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    height: 36px;
    width: 100px;
    margin: 10px;
    border-radius: 3px;
    font-size: 18px;
}

.filter-btn:hover {
    border: 2px solid dodgerblue;
}

.user-dropdown-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 74px;
    width: 250px;
    height: 200px;
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    border-radius: 5px;
    right: 40px;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
}

.dropdown-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 22%;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.dropdown-items a{
    text-decoration: none;
}

.dropdown-items:hover {
    background-color: #e6faff;
}

.dropdown-items-signout:hover {
    background-color: #e6faff;
}

.dropdown-items-signout {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 22%;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    border-top: 2px solid lightgray;
    padding-left: 10px;
}

.fas.fa-house-user.fa-2x {
    color: dodgerblue;
}

.show-filter-price {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10;
    align-items: center;
    top: 133px;
    width: 350px;
    height: 100px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    border-radius: 3px;
    left: 450px;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
}
.show-filter-beds {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10;
    align-items: center;
    top: 133px;
    width: 425px;
    height: 100px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    border-radius: 3px;
    left: 575px;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
}
.show-filter-baths {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10;
    align-items: center;
    top: 133px;
    width: 425px;
    height: 100px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    border-radius: 3px;
    left: 710px;
    box-shadow: -1px 4px 6px 1px rgba(121, 117, 117, 0.5); 
}

.filter-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
}

.bed-filter-btn {
    width: 65px;
    font-family: 'Roboto';
    font-weight: 300;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 3px;
}

.bed-filter-btn:hover {
    border: 2px solid dodgerblue;
}

.filter-label {
    font-weight: bold;
    margin-right: 67%;
}

.search-bar-container-filter {
    display: flex;
    justify-content: center;
    align-items: center;

}

#autocomplete-filter {
    background-color: white;
    color: black;
    border: 1px solid lightgrey;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    height: 36px;
    width: 330px;
    margin: 10px;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 5px;
}

.search-btn-filter {
    border: 1px solid lightgrey;
    height: 36px;
    border-radius: 3px;
    margin-right: 15px;   
    cursor: pointer;
}

.fas.fa-search {
    color: dodgerblue;
}