@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;500&family=Montserrat:wght@100;200;300;400&display=swap');

.index-container {
    display: flex;
    width: 100%;
}

.property-index {
    width: 50%;
}

.property-index-container {
    display: flex;
    width: 50%;
    height: 900px;
    flex-wrap: wrap;
    padding-left: 8px;
    padding-top: 8px;
    overflow-y: auto;
}

.property-item {
    display: flex;
    border: 1px solid rgb(233, 233, 233);
    border-bottom: 3px solid blue;
    flex-wrap: wrap;
    width: 48%;
    height: 38%;
    margin: 5px;

}

.example-image {
    width: 100%;
    height: 70%;
}

.property-text-box {
    padding-left: 5px;
}

.price {
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    margin: 2px;
}

.details {
    margin: 2px;
    font-size: 13px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

.address {
    margin: 2px;
    font-size: 13px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

.filter-container {
    border-bottom: 1px solid rgb(236, 235, 235);
    height: 40px;
    display: flex;
    padding: 5px;

}

.filter-input {
    height: 25px;
    background: lightslategray;
    background-color: rgba(245, 244, 244, 0.948);
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0px 6px;
}
