@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;500&family=Montserrat:wght@100;200;300;400&family=Outfit:wght@100;200;300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Merriweather&family=Open+Sans:wght@300&family=Playfair+Display&family=Roboto:wght@300;500&display=swap');

.session-form-container {
   display: flex;
   justify-content: center;
   width: 500px;
 }

 .session-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   
 }

 .session-form-box a:hover {
    color: dodgerblue;
    // border-bottom: 2px solid dodgerblue;

 }

 .session-intro{
    font-size: 25px;
    font-family: 'Merriweather', serif;
    margin-bottom: 25px;
    margin-left: 20%;
    font-weight: 400;
    margin-top: 25px;
 }

 .session-input {
  width: 93%;
  height: 50px;
  margin-top: 5px;
  margin-left: 10px;
  background: white;
  background-color: rgba(245, 244, 244, 0.948);
  border: 1px solid lightgray;
  border-radius: 5px;
  /* padding: 0px 6px; */
  color: black;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-left: 8px;
 }

 .session-form-box {
   border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    background: white;
    /* position: relative; */
    width: 100%;
    font-family: 'fira-sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
  
 }

 .filter {
   font-weight: bold;
 }

 .header-link {
   text-decoration: none;
   color: black;
 }

 hr {
   border-bottom: 1px solid grey;
 }

 .input-labels {
   margin-left: 10px; 
 }

 .session-submit {
    height: 50px;
    background-color: cornflowerblue;
    border: 1px cornflowerblue solid;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 20px;
    width: 93%;
    margin-left: 2.5%;
    cursor: pointer;
 }

 .session-submit:hover {
   background-color: rgb(51, 51, 255);
   border: 1px solid rgb(51, 51, 255);
 }

 .session-submit-guest {
    height: 50px;
    background-color: rgb(179, 179, 255);
    border: 1px rgb(179, 179, 255) solid;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 20px;
    width: 93%;
    margin-left: 2.5%;
    cursor: pointer;
 }

 .session-submit-guest:hover {
   background-color: rgb(128, 128, 255);
   border: 1px solid rgb(128, 128, 255);
 }
 
.modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.5);
   z-index: 10;
 }

 .modal-child-signup {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 480px;
   height: 750px; 
   display: flex;
   justify-content: center;
 }

 .modal-child-login {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 480px;
   height: 750px; 
   display: flex;
   justify-content: center;
 }

.modal-child-show {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
}

 .close-x {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-weight: bold;
 }

 .session-option-container {
    border-bottom: 2px solid lightgray;
 }

 .current-option {
   border-bottom: 3px solid dodgerblue;
   margin-right: 10px;
   font-family: 'Outfit';
 }

 .other-form {
   font-family: 'Outfit';
   cursor: pointer;
 }

 .fas.fa-home {
   color: dodgerblue;
 }

//  show modal 

 .property-show-container {
    background-color: white;
    display: flex;
    width: 100%;
}

.show-images {
  background-color: white;
  border-right: 1px solid lightgrey;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.show-photo {
  width: 100%;
}

.single-photo {
  width: 100%;
}


.show-details-container {
  background-color: white;
  width: 40%;
}

.show-header {
    height: 7%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    /* justify-content: start; */
    padding-top: 7px;
    padding-left: 7px;
}

.show-logo {
  height: 68%;
  width: 30%;
}

.show-details {
  height: 23%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-wrap: wrap;
}

.show-price {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
    height: fit-content;
}

.show-layout {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 35px;
    height: fit-content;
}

.show-address {
  font-size: 22px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  margin-left: 10px;
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.agent {
    height: 70%;
    width: 45%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid dodgerblue;
    font-size: 20px;
    font-weight: 300;
    color: dodgerblue;
    margin-right: 15px;
    font-family: 'Fira Sans', sans-serif;
}

.tour {
    /* margin-right: 8px; */
    border-radius: 5px;
    height: 70%;
    width: 45%;
    background-color: dodgerblue;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid dodgerblue;
}

.show-map {
  height: 35%;
  border-bottom: 1px solid lightgrey;
}

#mini-map-container {
  width: 100%;
  height: 100%;
}

.description-container {
  height: 35%;
  border-bottom: 1px solid lightgrey;
  overflow-y: auto;
}

.overview {
  margin-block-start: 0px;
  font-size: 26px;
  padding: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  margin-block-end: 0px;
}

.description {
    margin-block-start: 0px;
    font-size: 18px;
    padding: 0px 10px 10px 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

.session-input-labels {
  margin-left: 12px;
  margin-bottom: 3px;
  font-family: 'Outfit';
  font-size: 17px;
}

.sign-in-filler {
    font-family: 'Playfair Display';
    font-size: 16px;
    margin-left: 35%;
    margin-bottom: 20px;
    margin-top: 20px;
}