@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200&family=Montserrat:wght@100;300&family=Oswald:wght@200;400&family=Roboto:wght@100&display=swap');

.session-form-container {
   display: flex;
   justify-content: center;
   width: 320px;
 }

 .session-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   
 }

 .session-form-box a:hover {
    color: lightskyblue;
    border-bottom: 2px solid lightskyblue;
 }

 .session-intro{
   font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
   margin-bottom: 5px;
 }

 .session-input {
  height: 25px;
  margin-top: 5px;
  background: lightslategray;
  background-color: rgba(245, 244, 244, 0.948);
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0px 6px;
 }

 .session-form-box {
   border: 1px solid lightgray;
   border-radius: 10px;
   padding: 20px;
   background: white;
   position: relative;
   width: 100%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 12px;
  
 }

 .filter {
   font-weight: bold;
 }

 .header-link {
   text-decoration: none;
   color: black;
 }

 hr {
   border-bottom: 1px solid grey;
 }

 .session-submit {
  height: 30px;
  background-color: dodgerblue;
  border: 1px dodgerblue solid;
  border-radius: 5px;
  font-family: system-ui;
 }
 
.modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.5);
   z-index: 10;
 }

 .modal-child-signup {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding-top: 50px;
   padding-bottom: 50px;
   width: 400px;
   height: 500px; 
   display: flex;
   justify-content: center;
 }

 .modal-child-login {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding-top: 50px;
   padding-bottom: 50px;
   width: 400px;
   height: 500px; 
   display: flex;
   justify-content: center;
 }

.modal-child-show {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: center;
}

 .close-x {
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
 }

//  show modal 

 .property-show-container {
    background-color: white;
    display: flex;
    width: 100%;
}

.show-images {
  background-color: white;
  border-right: 1px solid lightgrey;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.show-photo {
  width: 100%;
  height: 400px;
}


.show-details-container {
  background-color: white;
  width: 40%;
}

.show-header {
    height: 7%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    /* justify-content: start; */
    padding-top: 7px;
    padding-left: 7px;
}

.show-logo {
  height: 85%;
  width: 30%;
}

.show-details {
  height: 23%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-wrap: wrap;
}

.show-price {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 5px;
    height: fit-content;
}

.show-layout {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 20px;
    height: fit-content;
}

.show-address {
  font-size: 12px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  margin-left: 7px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.agent {
    height: 30px;
    width: 45%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid dodgerblue;
    font-size: 12px;
    font-weight: 300;
    color: dodgerblue;
    margin-right: 5px;
    font-family: 'Fira Sans', sans-serif;
}

.tour {
    /* margin-right: 8px; */
    border-radius: 5px;
    height: 30px;
    width: 45%;
    background-color: dodgerblue;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    border: 1px solid dodgerblue;
}

.show-map {
  height: 35%;
  border-bottom: 1px solid lightgrey;
}

#mini-map-container {
  width: 100%;
  height: 100%;
}

.description-container {
  height: 35%;
  border-bottom: 1px solid lightgrey;
  
}

.overview {
  margin-block-start: 0px;
  font-size: 16px;
  padding: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  margin-block-end: 0px;
}

.description {
    margin-block-start: 0px;
    font-size: 12px;
    padding: 0px 10px 10px 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    overflow-y: auto;
}