
.property-form-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    
}

.home-input-field {
    margin-right: 5px;
}

.property-textarea {
    height: 125px;
    width: 450px;
    margin-top: 5px;
    background: lightslategray;
    background-color: rgba(245, 244, 244, 0.948);
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0px 6px;
}

.property-input {
    height: 25px;
    margin-top: 5px;
    background: lightslategray;
    background-color: rgba(245, 244, 244, 0.948);
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0px 6px;
}